p {
  margin-bottom: 0.3em;
}

.text-highlight {
  color: #00b3c9;
}
/*
a,
a:visited {
  color: #00b3c9;
}

a:hover {
  text-decoration: none;
  color: #008292;
}
*/
.navbar-nav a.nav-link {
  color: white;
}
.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
